# Ignorar archivos de caché y configuración de Visual Studio
.vs/
ConfigInicial/.vs/
.vs/ConfigInicial/
ConfigInicial/.vs/ConfigInicial/v17/ipch/

# Ignorar archivos específicos de compilación y caché
*.ipch
ILUMINACION.ipch
*.obj
*.mtl
*.png
*.jpg

# Ignorar archivos y carpetas relacionados con depuración
/Debug

# Otros archivos generados automáticamente
git-filter-repo
